@model IEnumerable<Controle_Financeiro.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
}
<h1></h1>
<h4>Usuários</h4>
<h5>Lista dos Usuários do sistema Gestor</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
<span class="form-group">
    <a asp-controller="Home" asp-action="Index" class="btn btn-danger btn-sm">Sair<i class="fa fa-sign-in"></i></a>
    <a asp-action="Create" class="btn btn-primary btn-sm">Novo<i class="fa fa-sign-in"></i></a>
</span>
